*{
  margin: 0;
  padding: 0;
}
body{
  background: #f8f9fa;
}

.app-container {
  font-family: 'Arial, sans-serif';
  background-color: #f8f9fa;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.header p {
  font-size: 18px;
}

.custom-input, .custom-select {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  color: #495057;
  padding: 10px;
}

.custom-button {
  background-color: #007bff;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #0056b3;
}

.custom-table {
  background-color: #fff;
  color: #333;
}

.custom-table thead {
  background-color: #007bff;
  color: white;
}

.custom-table tbody tr:hover {
  background-color: #f1f1f1;
}


.footer {
  background-color: #343a40;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}
